.idea/
.vscode/
.DS_Store
.env.sample
.env.dev
.env
node_modules/
*-debug.log
*-error.log
**/generated/*

debug
debug.ts
schema.ts
graphql_schema_generated*.ts
i18n/*
google-service-account.json
omni.config.ts
app.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Users/
dist
.env*