files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGz3W7S/VsrL4jmGi4uoJAb2lbYnqo5w0odNY9Tm87JY franz
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCg8iNWpdp2RNB7a20CEaq3hwVQDjIfKrLx7GuLxwcDeRoj+0ypJ9w+XYhAfGeAAetqBK+6vx1UMRGrk0wZcs6ZOFQs7QP4KPqljPxTKOidAok7xC831NPyo2WssNKtTPTDtcWpssrPcJfDWteNTmCMB+zaqklxIrTygV4VqhJV+VHW+2JYyV3e26PjwexYBZpaKeD2hyIF2Kt5CN2wJMn+ZANE+7M0qEKF6Wdx9DKhZGk3kpPA4v2TrpclI+9pQi20Y8LJfawHwVizFEhEiHgnfO4AX2wN5oxwKwN8ziuMKEw4R9Alp4JPwaTqORWMuiSQLnKeJxqHf8WJP98VziAXGpVpKKB2dw6JCSrMCodoCOHp8wxn8gc9XCj1gldBXyhFE1hfLonAlxKdeGnaL0VuFGm3RQHnkMgTlp2kteW8s+lPjNMrEXHcRAHQZ+17SQr9ANJhulOQZlz5UDG7cxh330YJi6hnkHv1pJuXwtfJ+NQqrdmTRauLor39uzVMFII0QK6zUAgHnpcVQ3Sc/gkXKrTXrBwFZXV9e7COVC64XCl2/4lrqW6qovO1YWa7OU+uxcOOb2Aj9EX4ZsF3i7NxjJBbqwfOc/BLDHKaQic5cGwnHx/7U5HWkDMFBlTgaSCj+ifWbUUMaoypU5L7WcYWF0XiE2mwUIg+t3uHzFsTYQ== jarek