files:  
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json": 
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 90,
          "run_as_user": "root"
        },
          "metrics": {
            "metrics_collected": {
                "mem": {
                    "measurement": [
                    "mem_used_percent"
                    ]
                }
            },
            "append_dimensions": {
            "InstanceId": "${aws:InstanceId}"
            }
        }
      }  
container_commands:
  start_cloudwatch_agent: 
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json
