files:
  "/etc/newrelic-infra.yml" :
    mode: "000644"
    owner: root
    group: root

commands:
# Extract password from env
  "01-setup-license-key":
    env:
      NEW_RELIC_LICENSE_KEY:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: NEW_RELIC_LICENSE_KEY
    command: |
      sudo echo "license_key: $NEW_RELIC_LICENSE_KEY" > /etc/newrelic-infra.yml

# Create the agent’s yum repository
  "02-agent-repository":
    command: sudo curl -o /etc/yum.repos.d/newrelic-infra.repo https://download.newrelic.com/infrastructure_agent/linux/yum/amazonlinux/2/x86_64/newrelic-infra.repo
#
# Update your yum cache
  "03-update-yum-cache":
    command: yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra'
#
# Run the installation script
  "04-run-installation-script":
    command: sudo yum install newrelic-infra -y