files:
  "/etc/newrelic-infra.yml" :
    mode: "000644"
    owner: root
    group: root

commands:
# Extract password from env
  "01-setup-license-key":
    command: |
      echo "license_key: $(/opt/elasticbeanstalk/bin/get-config environment -k NEW_RELIC_LICENSE_KEY)"
      
# Create the agent’s yum repository
  "02-agent-repository":
    command: sudo curl -o /etc/yum.repos.d/newrelic-infra.repo https://download.newrelic.com/infrastructure_agent/linux/yum/amazonlinux/2/x86_64/newrelic-infra.repo
#
# Update your yum cache
  "04-update-yum-cache":
    command: yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra'
#
# Run the installation script
  "05-run-installation-script":
    command: sudo yum install newrelic-infra -y